<h1>Criar Maquina</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Designacao da Maquina" [(ngModel)]="designacao"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <mat-label>Tipos de Maquina existentes:</mat-label>
        <mat-select [(ngModel)]="tiposMaquinaEscolhidos" required>
            <mat-option *ngFor="let op of listaTipoMaquina" [value]="op">{{op.designacao}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postMaquina()">Criar Maquina</button>
</div>