<h1>Criar Produto</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Designacao do produto" [(ngModel)]="designacao" required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <mat-label>Operacoes do Plano de Fabrico:</mat-label>
        <mat-select [(ngModel)]="operacoesEscolhidas" multiple>
            <mat-option *ngFor="let op of operacoes" [value]="op">{{op.designacao}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postProduto()">Criar Produto</button>
</div>