<h1>Ordenar a Produção das Encomendas</h1>

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let op of encomendas" cdkDrag>{{op.codigo}}</div>
</div>