<h1>Cancelar Encomenda</h1>

<div>
    <mat-form-field>
        <mat-label>Encomendas</mat-label>
        <mat-select [(ngModel)]="selected" (selectionChange)="getEncomenda()">
            <mat-option *ngFor="let op of encomendas" [value]="op">
                {{op.codigo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="flag">
        <button mat-raised-button class="btn btn-primary btn-round" (click)="cancelarEncomenda()">Cancelar Encomenda</button>

</div>