<h4>Produtos existentes:</h4>
<div>
  <mat-form-field>
    <mat-label>Designacao:</mat-label>
    <mat-select [(ngModel)]="selected" (selectionChange)="getPlano()">
      <mat-option *ngFor="let op of produtos" [value]="op">
        {{op.designacao}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="flag">
  <p> Produto : {{selected.designacao}}</p>
  <h2> Operações do Plano de Fabrico:</h2>
  <p *ngFor="let o of operacoes"> Operação : {{o.designacao}}</p>
</div>