<h1>Editar Maquina</h1>
<div>
    <mat-form-field>
        <mat-label>Designacao:</mat-label>
        <mat-select [(ngModel)]="selected" (selectionChange)="getMaquina()">
            <mat-option *ngFor="let op of maquinas" [value]="op">
                {{op.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngIf="flag">
    <p> Maquina: {{selected.nome}} </p>
    <p> Tipo de Maquina: {{selected.tipo.designacao}}</p>
    <div class="col-md-5">
        <div class="row">
            <i class="material-icons">view_headline</i>
            <mat-form-field>
                <mat-label>Alterar Tipo de Maquina:</mat-label>
                <mat-select [(ngModel)]="tipoEscolhido" required>
                    <mat-option *ngFor="let op of listaTipos" [value]="op">{{op.designacao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <button mat-raised-button class="btn btn-primary btn-round" (click)="putMaquina()">Editar Tipo de
            Maquina de Maquina</button>
    </div>
</div>