<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Registar</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="nome" name="nome" placeholder="Nome" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="email" name="email" placeholder="Email" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password"
                        required>
                </mat-form-field>

            </mat-card-content>

            <button mat-raised-button class="btn btn-primary btn-round" (click)="registar()">Registar</button>
        </form>
    </mat-card>
</div>