.login-wrapper {
    width: 420px;
    height: 50%;
    margin: auto;
}
.wrapper {
    height: calc(100% - 65px);
    padding-top: 30px;
    width: 100%;
    background-color: #253b99;
    overflow-x: hidden;
  }
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: none;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 500px;
}
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(110, 94, 94, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
  background: inherit;
}
 .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
  background: inherit;
}
.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  font-weight: 700;
  background: inherit;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
  background: inherit;
}
.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}
.login-wrapper .mat-stroked-button {
  line-height: 54px;
  background:rgb(63, 58, 58);
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}