<h1>Criar Tipo de Maquina</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Designacao de Tipo de Maquina" [(ngModel)]="designacao"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <mat-label>Operacoes existentes:</mat-label>
        <mat-select [(ngModel)]="operacoesEscolhidas" multiple>
            <mat-option *ngFor="let op of listaOperacoes" [value]="op">{{op.designacao}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postTipoMaquina()">Criar Tipo de
        Maquina</button>
</div>