<h4>Operacoes existentes:</h4>
<div>
  <mat-form-field>
    <mat-label>Designacao:</mat-label>
    <mat-select [(ngModel)]="selected" (selectionChange)="getOperacao()">
      <mat-option *ngFor="let op of operacoes" [value]="op">
        {{op.designacao}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="flag">
  <p> Operacao : {{selected.designacao}}</p>
  <p> Ferramenta utilizada: {{selected.ferramenta}}</p>
  <p> Duracao: {{selected.duracao}} </p>
</div>