<h1>Editar Tipo de Maquina</h1>
<div>
    <mat-form-field>
        <mat-label>Tipos de Maquina:</mat-label>
        <mat-select [(ngModel)]="selected" matInput placeholder="Escolha o Tipo de Maquina que pretende alterar"
            (selectionChange)="getTipo()">
            <mat-option *ngFor="let op of tiposMaquinas" [value]="op">
                {{op.designacao}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngIf="flag">
    <div class="col-md-5">
        <mat-label>Lista de Operacoes do Tipo de Maquina: {{selected.designacao}}</mat-label>
        <p *ngFor="let o of operacoesEscolhidas">Operacao: {{o.designacao}}</p>
    </div>
    <div class="col-md-5">
        <div class="row">
            <i class="material-icons">view_headline</i>
            <mat-form-field>
                <mat-label>Adicionar Operações:</mat-label>
                <mat-select [(ngModel)]="operacoesEscolhidas" multiple>
                    <mat-option *ngFor="let op of listaOperacoes" [value]="op">{{op.designacao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <i class="material-icons">view_headline</i>
            <mat-form-field>
                <mat-label>Remover Operações:</mat-label>
                <mat-select [(ngModel)]="operacoesEscolhidas" multiple>
                    <mat-option *ngFor="let op of operacoesEscolhidas" [value]="op">{{op.designacao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div>
        <button mat-raised-button class="btn btn-primary btn-round" (click)="putTipoMaquina()">Editar Tipo de
            Maquina</button>
    </div>
</div>