<h1>Criar Linha de Producao</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Designacao da Linha de Producao:" [(ngModel)]="designacao"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <mat-label>Maquinas existentes:</mat-label>
        <mat-select [(ngModel)]="maquinasEscolhidas" multiple>
            <mat-option *ngFor="let m of maquinas" [value]="m">{{m.nome}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postLinhaProducao()">Criar Linha de Producao</button>
</div>