<h1>Encomendas existentes:</h1>
<div>
  <mat-form-field>
    <mat-label>Encomendas</mat-label>
    <mat-select [(ngModel)]="selected" (selectionChange)="getEncomenda()">
      <mat-option *ngFor="let op of encomendas" [value]="op">
        {{op.codigo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div *ngIf="flag">
  <p> Encomenda : {{selected.codigo}}</p>
  <p> Estado: {{selected.estado}}</p>
  <p> Produto: {{selected.produto}} </p>
  <p> Quantidade: {{selected.quantidade}} </p>
  <p> Morada: {{selected.morada}} </p>
  <p> Data da Encomenda: {{selected.data_encomenda}} </p>
  <p> Data de conclusão: {{selected.data_conclusao}}</p>
</div>
