<div *ngIf="!estaLogin"class="right-button">
        <button  mat-button mat-raised-button routerLink="login" >LogIn</button>
        <button  mat-button mat-raised-button routerLink="signup">SignUp</button>
        <button  mat-button mat-raised-button routerLink="termos">Termos e Condições</button>
</div>

<div *ngIf="estaLogin"class="right-button">
        <button  mat-button mat-raised-button (click)="sair()" >Sair</button>
</div>

<button mat-button (click)="home()">Home Menu</button>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenu">Operacao</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
    <button (click)="postOperacoes()" mat-menu-item>Criar</button>
    <button (click)="getOperacoes()" mat-menu-item>Consultar</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuMaquina">Maquina</button>
<mat-menu #belowMenuMaquina="matMenu" yPosition="below">
    <button (click)="postMaquinas()" mat-menu-item>Criar</button>
    <button (click)="getMaquinas()" mat-menu-item>Consultar</button>
    <button (click)="putMaquinas()" mat-menu-item>Editar</button>
    <button (click)="ativarMaquina()" mat-menu-item>Ativar/Desativar</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuTipoMaquina">Tipo de Maquina</button>
<mat-menu #belowMenuTipoMaquina="matMenu" yPosition="below">
    <button (click)="postTipoMaquinas()" mat-menu-item>Criar</button>
    <button (click)="getTiposMaquinas()" mat-menu-item>Consultar</button>
    <button (click)="putTipoMaquinas()" mat-menu-item>Editar</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuProduto">Produto</button>
<mat-menu #belowMenuProduto="matMenu" yPosition="below">
    <button (click)="postProdutos()" mat-menu-item>Criar</button>
    <button (click)="getProdutos()" mat-menu-item>Consultar</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuLinha">Linha de Producao</button>
<mat-menu #belowMenuLinha="matMenu" yPosition="below">
    <button (click)="postLinhasProducao()" mat-menu-item>Criar</button>
    <button (click)="getLinhasProducao()" mat-menu-item>Consultar</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuEncomenda">Encomenda</button>
<mat-menu #belowMenuEncomenda="matMenu" yPosition="below">
    <button (click)="consultarEncomendas()" mat-menu-item>Consultar</button>
    <button (click)="editarEncomenda()" mat-menu-item>Editar</button>
    <button (click)="cancelarEncomenda()" mat-menu-item>Cancelar</button>
    <button (click)="ordenarEncomendas()" mat-menu-item>Ordenar Encomendas</button>
</mat-menu>

<button *ngIf="!eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuUtilizadora">Utilizador</button>
<mat-menu #belowMenuUtilizadora="matMenu" yPosition="below">
    <button (click)="consltarDados()" mat-menu-item>Consultar</button>
    <button (click)="editarDados()" mat-menu-item>Editar</button>
    <button (click)="consultarClientes()" mat-menu-item>Consultar Utilizadores</button>
</mat-menu>

<button *ngIf="eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuEncomendaC">Encomenda</button>
<mat-menu #belowMenuEncomendaC="matMenu" yPosition="below">
    <button (click)="criarEncomenda()" mat-menu-item>Criar</button>
    <button (click)="consultarEncomendasCliente()" mat-menu-item>Consultar</button>
</mat-menu>

<button *ngIf="eCliente && estaLogin" mat-button [matMenuTriggerFor]="belowMenuUtilizador">Utilizador</button>
<mat-menu #belowMenuUtilizador="matMenu" yPosition="below">
    <button (click)="consltarDados()" mat-menu-item>Consultar</button>
    <button (click)="editarDados()" mat-menu-item>Editar</button>
</mat-menu>


