<h1>Termos e Condições</h1>
<pre>Ao fazer login ou signup está a aceitar os termos e condições do site que são o tratamento dos seus dados pessoais
como o seu email para poder ser comunicado e para poder comunicar com a empresa, morada para receber as suas encomendas
e o seu nome para fins informativos.
Quando e se entender que o deve fazer tem também o direito a pedir para que os seus dados sejam completamente apagados
</pre>

