<h1>Clientes registados</h1>

<div>
    <h3>Nomes dos utilizadores registados</h3>
    <mat-option *ngFor="let op of clientes" [value]="op">
        <mat-label>Nome:</mat-label>
        {{op.name}}

        <mat-label>Username:</mat-label>
        {{op.username}}

        <input type="text" matInput placeholder="Prioridade">

    </mat-option>
</div>

<button mat-raised-button class="btn btn-primary btn-round" (click)="guardarPrioridades()">Guardar</button>