<h1>Editar Dados de Utilizador</h1>
<div>
    <p> Username Atual: {{user?.username}} </p>
    <p> Email Atual: {{user?.email}}</p>
    <div class="col-md-5">
        <div class="row">
            <i class="material-icons">view_headline</i>
            <mat-form-field>
                <input type="text" matInput placeholder="Username" [(ngModel)]="username" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <i class="material-icons">view_headline</i>
        <mat-form-field>
            <input type="text" matInput placeholder="Email" [(ngModel)]="email"
                required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button class="btn btn-primary btn-round" (click)="putUser()">Editar Utilizador</button>
    </div>
</div>