<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="box">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
      
          <form class="example-form">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="username" name="username" placeholder="Username">
              </mat-form-field>
      
              <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Password">
              </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="light" class="btn-block" (click)="login()">Log in</button>
          </form>
        </mat-card>
      
      </div>