<h1>Criar Operação</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Designacao de Operação" [(ngModel)]="designacao"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Ferramenta da Operação" [(ngModel)]="ferramenta"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Duracao da Operação" [(ngModel)]="duracao"
            required>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postOperacoes()">Criar Operação</button>
</div>
