<h1>Criar Encomenda</h1>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Codigo Encomenda" [(ngModel)]="codigo"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <mat-label>Produtos existentes:</mat-label>
        <mat-select [(ngModel)]="produto" (selectionChange)="getProdutoInfo()" required>
            <mat-option *ngFor="let op of produtos" [value]="op">{{op.designacao}}    Duração:{{op.duracao}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div id = center *ngIf="flag">
    <p> Número de vezes encomendado : {{nrEncome}}</p>
    <p> Número de quantidade encomendado : {{nrQuantidade}}</p>
</div>

<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Quantidade" [(ngModel)]="quantidade"
            required>
    </mat-form-field>
</div>
<div class="row">
    <i class="material-icons">view_headline</i>
    <mat-form-field>
        <input type="text" matInput placeholder="Morada" [(ngModel)]="morada"
            required>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button class="btn btn-primary btn-round" (click)="postEncomendas()">Criar Encomenda</button>
</div>
