<h1>Ativar/Desativar Maquina</h1>

<div>
    <mat-form-field>
        <mat-label>Maquinas</mat-label>
        <mat-select [(ngModel)]="selected" (selectionChange)="getMaquina()">
            <mat-option *ngFor="let op of maquinas" [value]="op">
                {{op.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="flag">
        <button mat-raised-button class="btn btn-primary btn-round" (click)="ativarMaquina()">Ativar Maquina</button>
        <button mat-raised-button class="btn btn-primary btn-round" (click)="desativarMaquina()">Desativar Maquina</button>

</div>