<h4>Maquinas existentes:</h4>
<div>
<mat-form-field>
  <mat-label>Designacao:</mat-label>
  <mat-select [(ngModel)]="selected" (selectionChange)="getMaquina()">
    <mat-option *ngFor="let op of maquinas" [value]="op">
      {{op.nome}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div *ngIf="flag">
    <p> Maquina: {{selected.nome}} </p>
    <p> Tipo de Maquina: {{selected.tipo.designacao}}</p>
    <p> Estado: {{selected.estado}} </p>

</div>