<h1>Editar Encomenda</h1>

<div>
    <mat-form-field>
        <mat-label>Encomendas:</mat-label>
        <mat-select [(ngModel)]="selected" (selectionChange)="getEncomenda()">
            <mat-option *ngFor="let op of encomendas" [value]="op">
                {{op.codigo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="flag" >

        <div class="row">
                <i class="material-icons">view_headline</i>
                <mat-form-field>
                    <input type="text" matInput placeholder="Estado" [(ngModel)]="estado" required>
                </mat-form-field>
            </div>

    <div class="row">
        <i class="material-icons">view_headline</i>
        <mat-form-field>
            <mat-label>Produtos existentes:</mat-label>
            <mat-select [(ngModel)]="produto" required>
                <mat-option *ngFor="let op of produtos" [value]="op">{{op.designacao}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <i class="material-icons">view_headline</i>
        <mat-form-field>
            <input type="text" matInput placeholder="Quantidade" [(ngModel)]="quantidade" required>
        </mat-form-field>
    </div>
    <div class="row">
        <i class="material-icons">view_headline</i>
        <mat-form-field>
            <input type="text" matInput placeholder="Morada" [(ngModel)]="morada" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button class="btn btn-primary btn-round" (click)="putEncomenda()">Editar Encomenda</button>
    </div>
</div>