<h4>Tipos de Maquinas existentes:</h4>
<div>
<mat-form-field>
  <mat-label>Designacao:</mat-label>
  <mat-select [(ngModel)]="selected" (selectionChange)="getTipo()">
    <mat-option *ngFor="let op of tiposMaquinas" [value]="op">
      {{op.designacao}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div *ngIf="flag">
    <p> TipoMaquina: {{selected.designacao}} </p>
    <p *ngFor="let o of operacoes">Operacao: {{o.designacao}}</p>
</div>

<div *ngIf="flag">
  <p> Maquinas deste Tipo: {{selected.designacao}} </p>
  <p *ngFor="let m of maquinas">Maquina: {{m.nome}}</p>
</div>
